NEXT_PUBLIC_CASA_DEMO_MODE=true
NEXT_PUBLIC_SUPABASE_URL=https://jfekctxsajhytyzsamkp.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImpmZWtjdHhzYWpoeXR5enNhbWtwIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzQ5OTExNzAsImV4cCI6MjA5MDU2NzE3MH0.vs0Yx0i6hEtfTEXyUAl9v8w9l3UjxvDLR7xyDyZv05E
